// from https://washu.atlassian.net/wiki/spaces/RUD/pages/1782513713/Nextflow

process {
    executor = "lsf"
    queue    = { "general" } 

	withLabel: survivor {
		clusterOptions =  { "-a 'docker(mwyczalkowski/survivor:20251001)' -J nextflow -env 'all,PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'" }
	}
	withLabel: perl {
		clusterOptions =  { "-a 'docker(mwyczalkowski/perl-util:20251003)' -J nextflow -env 'all,PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'" }
	}
	withLabel: cutesv {
		clusterOptions =  { "-a 'docker(mwyczalkowski/cutesv:20251002)' -J nextflow -env 'all,PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'" }
	}
	withLabel: samtools {
		clusterOptions =  { "-a 'docker(mgibio/samtools:v1.21-noble)' -J nextflow -env 'all,PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'" }


	}
}

executor {
    queueSize = 7
    submitRateLimit = '1/1sec'

}

// Default paths
params.survivor = "/opt/SURVIVOR/Debug/SURVIVOR"
params.cutesv = "/opt/conda/envs/env/bin/cuteSV"
params.bgzip = "/usr/bin/bgzip"
params.tabix = "/usr/bin/tabix"
params.samtools = "/usr/local/bin/samtools"

// Note: must not include the "/rdcw/fs2/home1/Active" prefix to home 

// all perl scripts are added to the bin directory
// https://www.nextflow.io/docs/latest/sharing.html#the-bin-directory

params.reference = "/storage1/fs1/dinglab/Active/Projects/PECGS/ref_genome/GRCh38.d1.vd1.fa"

// here, assuming that index files named ...bam.bai exist 
// 
params.lrvcf_fn="/storage1/fs1/dinglab/Active/Projects/yuweiz/projects/HTAN/ccRCC/Longread/t2t/HT970_Tumor/05_somaticSV/merged.2caller.final.vcf"
params.srvcf_fn="/storage1/fs1/dinglab/Active/Projects/yuweiz/projects/HTAN/ccRCC/Shortread/00_analysis/00_SV_merge/HT970/merged.polished.vcf"
params.norm_fn="/storage1/fs1/dinglab/Active/Projects/yuweiz/projects/HTAN/ccRCC/Longread/t2t/HT970_Normal/04_phase/normal_haplotagSV.bam"
params.tum_fn="/storage1/fs1/dinglab/Active/Projects/yuweiz/projects/HTAN/ccRCC/Longread/t2t/HT970_Tumor/04_phase/tumor_haplotagSV.bam"


